// Specific CSS for your home-page
.banner_HP {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.banner_HP h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px white;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.banner_HP p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px white;
  text-align: center;
}

.card-category_HP {
  margin-top:10px;
  margin-bottom:10px;
}

.banner-btn {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#363738, #363738);
  transition: background 0.3s ease;
  border: 1px solid #363738;
  text-align: center;
}

.banner-btn {
  background: linear-gradient(#363738, #363738);
  color: white;
  text-align: center;
}

.btn_form {
  color: white;
  padding: 5px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#363738, #363738);
  transition: background 0.3s ease;
  border: 1px solid #363738;
  text-align: center;
  display: inline-block;
  margin: none;
}
